<html>
<head>
<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"> 
	
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css"> 
	<link href="/stylesheets/datepicker.css" rel="stylesheet" type="text/css" />
	<link href="/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css" />
	
	<script src="/jquery/dist/jquery.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/javascripts/login.js"></script> 
	<script src="/javascripts/datepicker.js"></script>
	<script src="/sweetalert2/dist/sweetalert2.js"></script>
	
	<script src="/javascripts/src/userhome.js"></script>
	
	
	<script>
	$(function () {
		  $("#admissiondatepicker").datepicker({ 
				autoclose: true, 
				todayHighlight: true
		  }).datepicker('update', new Date());
		  myFunction();
		  });
	function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
  
</head>
<body>
<div class="container">
    
        <h1>Vehicle Service.</h1>
    
    <div class="row">
    	
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">Profile</a></li>
                            <li><a href="#tab2primary" data-toggle="tab">Service</a></li>
                            <li ><a href="#tab3primary" data-toggle="tab">History</a></li>
                            <li ><a href="#tab4primary" data-toggle="tab">Bill Details</a></li>
                            
                            <li><a style="cursor:pointer" onclick="logout()">Logout</a></li>
                            
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1primary">
							<div class="col-sm-12" id="Profile">
								  <center>
									  <div class="row">
										<div class="col-lg-3 col-sm-6">
											<div class="card hovercard">
												<div class="cardheader">
												</div>
												<div class="avatar">
													<img alt="" src="/images/admin.jpg">
												</div>
												<div class="info" id="admin_profile">
													
												</div>
											</div>

										</div>

										</div>
									</center>
							</div>
							
						</div>
                        <div class="tab-pane fade" id="tab2primary">
						
							<div class="col-sm-4" id="AddService">
								
								  <div class="form-group">
									<label for="inputsm">Name</label>
									<input name="sername" class="form-control input-sm" readonly id="inputsm" type="text">
								  </div>
								  <div class="form-group">
									<label for="inputsm">Mobile Number</label>
									<input name="sermno" class="form-control input-sm" id="inputsm" readonly type="text">
								  </div>
								  <div class="form-group">
									  <label for="inputsm">Branch</label>
									  <select id="serbranch" class="form-control" id="canoption">
									   
									  </select>
								  </div>
								  <div class="form-group">
									  <label for="inputsm">Vehicle Type</label>
									  <select id="servehicle" class="form-control" id="canoption">
									  <option value="1">Car</option>
									  <option value="2">Bike</option>
									  </select>
								  </div>
								  <div class="form-group">
									<label for="inputsm">Car / Bike Number</label>
									<input name="serno" class="form-control input-sm" id="inputsm" type="text">
								  </div>
								  <div class="form-group">
									  <label for="comment">Problem</label>
									  <textarea name="serproblem" name="problem" class="form-control" rows="3" ></textarea>
									</div> 
								   
								   <div class="form-group">
									  <label for="comment">Full Address</label>
									  <textarea name="seraddress" class="form-control" rows="5" id="comment"></textarea>
									</div> 
									<button id="addservice" type="button" class="btn btn-success">Add</button>
							</div>
						
						</div>
						
                        <div class="tab-pane fade" id="tab3primary">
						
							
							<div class="col-sm-5" >
							
							
								 <h2>Pending Request...</h2>
								  
								  <table class="table table-bordered">
									<thead>
									  <tr>
										<th>Branch </th>
										<th>Vehicle No</th>
										<th>Date</th>
										<th>Problem</th>
										<th>Action</th>
									  </tr>
									</thead>
									<tbody id="pengingtablebody">
									  
									  
									</tbody>
								  </table>
							</div>
							<div class="col-sm-5" >
								 <h2>Delivered</h2>
								  
								  <table class="table table-bordered">
									<thead>
									  <tr>
										<th>Branch </th>
										<th>Vehicle No</th>
										<th>Date</th>
										<th>Problem</th>
										
									  </tr>
									</thead>
									<tbody id="deliveredtablebody">
									  
									  
									</tbody>
								  </table>
							</div>
						</div>
                        <div class="tab-pane fade" id="tab4primary">
							
							
							<div class="col-sm-12" >
								<div class="form-group">
									  <label for="inputsm">Branch</label>
									  <select id="billbranch" class="form-control" id="canoption">
									  
									  </select>
							    </div>
								<div class="form-group">
									<!--<div  id="admissiondatepicker" class="input-group date" data-date-format="dd-mm-yyyy">
										<input onchange="BillDetails()" class="form-control" id="admissiondate" type="text" readonly />
										<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									</div>-->
								</div>
								<h3 id="totalbill" style="float:right"> Total:0</h3>
								<div id="showBillingList">
									<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
									<table id="myTable">
									  
									  
									</table>
								</div>
								
							</div>
						</div>
                        <div class="tab-pane fade" id="tab5primary">Primary 5</div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<br/>
</body>
</html>